.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
  background-color: #fff;
  height: 11vh;

  .nike {
    margin: 20px 0 0 36px;
  }


  .rightArea {
    display: flex;
    align-items: center;
    margin-left: 35%;

    a {
      font-size: 14px;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      padding-right: 40px;
    }
  }

}